.game-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 300px;
}
.header-display {
  display: flex;
  justify-content: space-between;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}
.cell {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.reset-btn{
    cursor: pointer;
}
.game-board .cell:hover {
  background-color: lightgray;
}
